/* You can add global styles to this file, and also import other style files */
:host {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.navbar-brand {
  color: white!important;
}

.forgot-pass-link {
  font-size: .875em;
}


.menubar-login-details {
  cursor: pointer;

  .dropdown-toggle::after {
    content: none !important;
  }

  .dropdown-menu {
    width: 100%;
    margin-top: 7.5px;
    border-radius: 0;
    background-color: #343a3f;
    border: none;
    padding-top: 0;
    cursor: pointer;
    &> a {
      color: white;
      &:hover {
        color: white;
        background-color: #3a3f42;
      }
    }
  }
  
  .dropdown-item {
    padding: .5rem 1.5rem;
  }

}

.navbar {
  padding-left: 2em;
  padding-right: 2em;
}

.font-weight-500 {
  font-weight: 500;
}

.search-box {
  width: 600px;
  background-color: #495057;
  border: none;
  border-radius: .5rem;
  color: #202124;
  height: 2.5rem;
  padding: 1em;
  
  -webkit-appearance: none;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);

  &-list {
    position: relative;
    margin: auto;
  }
  
  &:focus {
    width: 600px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: width .3s;
    transition: width .3s;
    -webkit-box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
  }
}

input[type=search] {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &:focus {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  & ~ li {
    position: relative;
  }
}

.alert-badge {
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transform: scale(0);
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  min-width: 22px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  position: absolute;
  top: -5px;
  right: 2px;
  margin: 3px;
  border: 2px solid #343a3f;

  &-item {
    position: relative;
  }
  
  &-active {
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transform: scale(.9);
  }
}