<div class="d-flex flex-fill flex-column align-items-center">
  Dashboard summary goes here...
</div>

<!-- <div class="d-flex flex-fill">
  <div class="custom-chart d-flex align-items-center" [ngClass]="{ 'gathering': isGathering }">
    <app-gathering-data *ngIf="isGathering" ></app-gathering-data>
    <canvas [hidden]="isGathering" #doughnutChart1Ref>{{ doughnutChart1 }}</canvas>
  </div>
  <div class="custom-chart d-flex align-items-center" [ngClass]="{ 'gathering': isGathering }">
    <app-gathering-data *ngIf="isGathering" ></app-gathering-data>
    <canvas [hidden]="isGathering" #doughnutChart2Ref>{{ doughnutChart2 }}</canvas>
  </div>
  <div class="custom-chart d-flex align-items-center" [ngClass]="{ 'gathering': isGathering }">
    <app-gathering-data *ngIf="isGathering" ></app-gathering-data>
    <canvas [hidden]="isGathering" #doughnutChart3Ref>{{ doughnutChart3 }}</canvas>
  </div>
</div> -->
