@import './app/loader/loader.component.less';

html,
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.login-page {
  background-color: #343a40 !important;
}

fuse .loading {
  background-color: #2D323D;
}

app-root, router-outlet~* {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.content-flex, .router-output, .router-outlet {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

// Overriding bootstrap's property to fix dropdown behing issue on sticky top
.sticky-top {
  z-index: 5 !important;
}

.overflow {
  overflow: hidden;
}

input:focus {
  outline: none;
}

// Default Scrollbar
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
  opacity: .5;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
