<!-- Testing -->
<mat-toolbar class="example-header mat-primary">
    <app-menu></app-menu>
</mat-toolbar>

<mat-sidenav-container class="example-container flex-fill">

  <!-- Tree Panel -->
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
    <!-- Start -->
    <ng-scrollbar class="custom-tree-scrollbar">
      <div class="box">
        <div class="item d-flex align-items-center" [ngClass]="{'item-active': page.selected}" *ngFor="let page of pages" (click)="showPage(page)">
          <i class="material-icons">{{page.icon}}</i> &nbsp;&nbsp;
          <span>{{page.name}}</span>
        </div>
      </div>
    </ng-scrollbar>
    <!-- End -->
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content [formGroup]="options">
    <ng-scrollbar>
      <router-outlet></router-outlet>
    </ng-scrollbar>
  </mat-sidenav-content>

</mat-sidenav-container>
